<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games List</title>
    <link rel="stylesheet" href="/stylesheets/games.css">
</head>
<body>
    <h1>Games List</h1>
    <div class="games-grid">
        <% games.forEach(game => { %>
            <%- include('partials/game-grid-item', { game: game }) %>
        <% }) %>
    </div>
    <!-- <p><a class="back-button" href="/">Back</a></p> -->
</body>
</html>
